<!doctype html>
<html>

<body class="main">
  <section class="container">
    <div>
      <h2>Estado de tu orden {{code}}</h2>
    </div>
    <div>
      <p>Actualizamos tu pedido: <strong>{{status}}</strong>.</p>
      <p>Gracias por tu compra.</p>
    </div>

  </section>
</body>

</html>